.experience{
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  padding: 2rem 0;
}

.title-experience{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  flex-direction: row;
  margin: 2rem 0;
}

.experience-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 24px;
}

.experience-item{
  padding: 12px;
  margin: 12px;
  border: 2px solid;
  border-radius: 12px;
  display: flex;
}

.experience-icon{
  margin: 12px 10px 0 0;
}


@media (max-width: 540px) {
  .title-experience-text{
    font-size: 12px;
  }
}

@media (min-width: 1400px) {
  .experience{
    width: 100%;
    max-width: 1700px;
  }
}